// Form Examples. Forms are made up of control-group components. Spacing is mostly
// handled by spacing classes and modifiers on the control-groups. If you require
// a form control with unique styling, create a new control-group type.
//
// .form-horizontal - Horizontal controls

%basic-form-control {
  display: block;
  margin-bottom: spacing(1.25);

  .control__label,
  & > label {
    display: block;
    font-weight: bold;
    margin-bottom: spacing(0.5);
  }

  .control__text {
    @extend .text-small;
    @extend .copy;
    display: block;
    margin: spacing(0.5) 0;
    color: $light-grey;
    strong {
      color: $grey;
    }
  }
}

.control-basic {
  @extend %basic-form-control;
}

.control--box {
  @include border-box;
  background: darken($lighter-grey, 3%);
  border-left: 1px solid lighten($border-color, 10%);
  padding: 10px;
  height: 52px;
  vertical-align: middle;
  font-size: 13px;
  margin-bottom: 0;
}

// Rows of inline controls
.control-group--row {
  border: 0;
  &:hover {
    background: white;
    .control-group__title {
      color: $dark-green;
    }
    .control--box {
      background: $lighter-grey;
    }
  }
  .control-group__title {
    @include border-box;
    font-size: 16px;
    line-height: 52px;
    padding-left: 20px;
  }
}

.form {
  .control-group__help-block {
    display: block;
  }
  .control-group__help-inline {
    vertical-align: baseline;
  }
  label {
    display: block;
  }
}

// Form with a gradient background and a header
// and a footer sections divided by inset lines
.form--primary {
  @extend .block-5;
  .no-cssgradients & {
    background: $lightest-grey;
  }
  box-shadow: none;
  border: none;
  .form__header {
    box-shadow: 0 1px 0 white;
    border-bottom: 1px solid $border-color;
  }
  .form__footer {
    border-top: 1px solid $border-color;
    box-shadow: 0 1px 0 white inset;
  }
}

.form-actions {
  @include clear-floats;
  // border-top: 1px solid $border-color;
  .form-actions__primary,
  .form-actions__secondary {
    float: right;
    margin-left: $spacing-small;
  }
}