.control-select {
  @extend %basic-form-control;
}

.select {
  position: relative;
  width: 100%;

  &.medium {
    width: 210px;
  }

  &.small {
    width: 100px;
  }

  .no-cssgradients & {
    select {
      width: 100%;
    }
  }

  .no-pointerevents.no-cssgradients & {
    select {
      height: 32px;
      padding: 6px 5px;
    }
  }

  .pointerevents.cssgradients & {

    select {
      @include vertical-gradient(#fff, #eee);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid $border-color;
      border-radius: 3px;
      line-height: 17px;
      padding: 6px 14px 5px 10px;
      box-shadow: 0 1px 0 0 #fff inset,  0 1px 0 rgba(#000, 0.05);
      font-size: 13px;
      color: $grey;
      cursor: pointer;
      font-weight:bold;
      width: 100%;

      &.is-invalid {
        border-color: $error-border-color;
      }
    }

    &:hover select {
      @include vertical-gradient(#fff, #f2f2f2);
    }

    &:hover:before {
      @include vertical-gradient( lighten($border-color, 30%), lighten($border-color, 15%) );
    }

    &:before {
      @include show-pseudo-element;
      @include vertical-gradient( lighten($border-color, 25%), lighten($border-color, 10%) );
      width: 30px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 0 3px 3px 0;
      pointer-events: none;
      border: 1px solid $border-color;
      box-shadow: 0 1px 0 0 #fff inset;
    }

    &:after {
      @include show-pseudo-element;
      @include triangle('bottom', 13px, 7px, $light-grey);
      position: absolute;
      top: 13px;
      right: 10px;
      pointer-events: none;
    }

    &.is-disabled {
      select {
        background: #F1F1F1;
        box-shadow: none;
        color: #AAA;
        border-color: #CCC;
      }
      &:before {
        background: #EEE;
        box-shadow: none;
        border-color: #CCC;
      }
    }
  }
}
